.main {
    flex-grow: 1;
    margin-left: 20px;
}


body,
html {
    height: 100vh;
}

body {
    font-family: 'Dosis', sans-serif;
    color: rgba(0, 0, 0, 0.4);
    background-color: rgba(0, 0, 0, 0.05);
}

.container {
    display: flex;
    flex-direction: column;
}


.page-title {
    color: rgba(0, 0, 0, 0.6);
    padding: 20px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4)
}

.page-img {
    width: 20vw;
    height: auto;
}
