/* Sidebar CSS rules*/

.sidebar {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex: 0 0 19%;
    flex-wrap: wrap;
    height: 100vh;
    position: sticky;
    padding: 7px;
    justify-content: space-around;
    border-right: 1px solid rgb(180, 180, 180);
    align-items: center;
}

.sidebar li:hover {
    color: rgb(180, 180, 180);
}

.sidebar li {
    border-radius: 3px;
}

.sidebar li:hover {
    background: rgba(180, 180, 180, 0.6);
    box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.2);

}

/* Profile CSS rules*/

.profile {
    display: flex;
    align-items: center;
    height: 30%;
}

.profile img {
    border-radius: 50px;
    height: 70px;
    width: 70px;
    margin: 2px;
}

.profile h2 {
    color: rgba(0, 0, 0, 0.3);
    margin-left: 15px;
}

.projects {
    height: 50%;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0px;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.sidebar ul li a {
    display: flex;
    padding: 5px 2px;
    align-items: center;
    text-align: left;
}


.sidebar a {
    color: rgba(0, 0, 0, 0.3);
}


.projects i {
    color: rgba(0, 0, 0, 0.3);
    margin-right: 5px;
}

.accounts {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    align-items: center;
    width: 90%;
}
