body {
    background: rgba(0, 0, 0, 0.01);
    margin: 0;
}

a {
    text-decoration: none;
    font-family: 'Inconsolata', monospace;
}

.container {
    display: flex;
    height: 100vh;
    font-family: 'Acme', sans-serif;
}


.left-column {
    flex: 0 0 50%;
    display: flex;
    align-content: center;
    justify-content: center;
    height: auto;
    padding: 20px;
    display: flex;
    flex-flow: wrap;
    border-right: 2px solid rgba(0, 0, 0, 0.05);
}

.left-column h1 {
    flex: 0 0 100%;
    margin: 0;
}

.left-column h2 {
    flex: 0 0 100%;
    margin: 0;
}

.right-column {
    flex: 0 0 40%;
    padding: 20px;
    height: auto;
    flex-flow: row;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(0, 0, 0, 0.05);
}

.button {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    width: 20%;
    height: 8%;
    padding: 10px;
    color: rgba(0, 0, 0, 0.6);
    margin: 10px;
    border-radius: 7px;
    border: 1px solid transparent;
    transition: all 0.2s ease-in-out;
}

.button:hover {
    opacity: 1;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    transform: scale(1.02);
}

.button i {
    padding-bottom: 5px;
}

.large {
    width: 100%;
}

.red {
    color: red;
    opacity: 0.7;
}

.red i {
    color: red;
    opacity: 0.7;

}

.green {
    color: green;
    opacity: 0.7;


}

.green i {
    color: green;
}

.blue {
    color: blue;
    opacity: 0.7;


}

.blue i {
    color: blue;
}

#randomizer {
    background: rgba(0, 0, 0, 0.2);
    font-size: 1.5rem;
    border-radius: 19px;
    color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex: 0 0 70%;
    padding: 30px;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
}

#randomizer:hover {
    background: rgba(0, 0, 0, 0.4);
    color: rgba(255, 255, 255, 0.5);
    animation: rotation 2s;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

@keyframes rotation {

    0% {
        transform: rotate(3deg);
    }
    25% {
        transform: rotate(-3deg);
    }
    50% {
        transform: rotate(3deg);
    }
    75% {
        transform: rotate(-3deg);
    }
}

#my-color,
#the-color {
    flex: 0 0 80%;
    height: 10vh;
    margin: 5px;
    padding: 50px;
    border-radius: 2px;
    border: 4px solid black;
    color: black;
    display: flex;
    align-content: center;
    justify-content: center;
}


#result {
    display: none;
    padding: 10px;
    font-size: 2rem;
    margin: 2px;
    border-radius: 30px;
    color: deeppink;
    align-content: center;
    justify-content: center;
    background: linear-gradient(to bottom right, yellow, orange);
    transition: all 0.2s ease-in-out;

}

#result:hover {
    background: rgba(0, 0, 0, 0.4);
    color: rgba(255, 255, 255, 0.5);
}

#result p,
#my-color p,
#the-color p {
    margin: auto;
}

#check {
    display: flex;
    border-radius: 19px;
    font-size: 1.5rem;
    align-content: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.2);
    height: 10vh;
    color: rgba(0, 0, 0, 0.3);

}
